{% extends 'base.html' %}
{% block title %}About Us | RMS BENGALURU{% endblock %}


{% block content %}

<div class="brief-history">
    <h1 class="history-caption">Brief history of the school</h1>
    <div class="history-news">
        <div class="history-news-caption">The Daily Post <br />Bangalore August 1, 1946</div>
        <div class="history-news-content">"The King George VI Royal Indian Military College, the first of its kind
            in south India was declared open this morning by Maj Gen AHJ Snelling, C.B, CBE, at the Clive Lines
            Barracks"</div>
    </div>
    <div class="history-boxes">
        <div class="history-box" id="history-box1">
            <div class="history-box-heading">INCEPTION</div>
            <div class="history-box-para">King George V (1865-1936) was the King of Great Britain and Emperor of
                India from 1901 to 1936. During the First World War, his duties took him to 450 and Naval
                Installations, 300 Millary Hospitals and to several other places for personally distributing as many
                as 58,000 decorations. It was during some of these visits that King George the V was so impressed
                with the courage and lighting abilities of the Indian troops that at the conclusion of the war, he
                decided to set up some Institutions for the education of the children of Indian Jawans. That is how
                these schools were named as King George Royal Indian Military College (KGRIMC). Initially these
                schools were opened between 1925-1930 at Jhelum, Jallundhar and Ajmer and were financed by the King
                George Benevolent Fund. In 1945 when World War Il came to an end, King George VI started two more
                King George Royal Military Colleges at Belgaum and Bengaluru.</div>
        </div>
        <div class="history-box" id="history-box2">
            <div class="history-box-heading">EMERGENCE</div>
            <div class="history-box-para">With a nucleus of 100 South Indian boys, 50 from Jalandhar and 50 from
                Ajmer, the King George VI Royal Indian Military College had its origin in Bengaluru on 01 Aug 1946
                at the Clive lines Barracks and was inaugurated by Major General AHU Snelling, CB,CBE.During World
                War II the site of the present school was used as a convalescing home for British troops.

                In the beginning, the staff was almost entirely Military personnel-the only civilians being the
                Office staff. Lt Col RHD Ross of the 8th Punjab Regiment and later transferred to RAEC, was the
                first Commandant. Major JW Whitmarsh Knight was Second in Command and First Chief Instructor of the
                college. Captain J M Whitbread was the first Admin Officer and Jam Appalaswamy of the MEG was the
                first JQM. In 1948, Lt Col Ross retired and left for UK. Major TW King took over as the first Indian
                Army Officer as the Commandant.</div>
        </div>
        <div class="history-box" id="history-box3">
            <div class="history-box-heading">PROGRESSION</div>
            <div class="history-box-para">
                Re-organisation of Military Schools-Till 1952 the various Regimental Centers used to sponsor the
                admissions of the sons of Service Personnel into KGRIMC. The cats at that time were taught as per
                the Army certificate syllabi and were enrolled info their parent's Regiment. After 1952 the aim of
                these Institutions was changed to provide quality education with no embargo on their selection of
                career.

                in 1952 KGRIMC were reorganized as residential public schools on the recommendations of a committee
                by which public school education was for the first time brought within the reach of middle class.
                Since then these schools became member of IPSC and admission was thrown open to the sons of Service
                Officers and civilians as well.

                In 1966, KG schools were renamed as Military Schools. And our school was re-christened as Bangalore
                Military School. With

                the changing socio-political conditions, the affiliation to the University of Cambridge was replaced
                by ICSE in 1963 and later

                to CBSE in 1967.

                In 1969, the school's motto was changed to SHEELAM PARAM BHUSHANAM, a Sanskrit shloka which means,
                character is the highest virtue.

                The school celebrated its Silver Jubilee in 1971 and Diamond Jubilee in 2006. There after, in July
                2007 the school was renamed as Rashtriya Military School. Now the school is celebrating Platinum
                Jubilee this year.
            </div>
        </div>
    </div>
</div>

{% endblock %}