{% extends 'base.html' %}
{% block title %}Academics | RMS BENGALURU{% endblock %}


{% block content %}
<div class="academics-box">
    <div class="academics-image">
        <img src="{{static}}/images/academics.png" alt="" />
    </div>
    <h1 class="academics-heading">ACADEMICS</h1>
    <p class="adademics-para">
        Rashtriya Military Schools are affiliated to the Central Board of Secondary Education (CBSE). The medium
        of instruction in the Schools is English. The academic year is from April to March and is divided into two
        terms. All Schools offer
        Science stream.Rashtriya Military Schools
        prepare Cadets for the following examinations:-
    </p>
    <br>
    <div class="academics-para-box">
        (a) Central Board of Secondary Education
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;(i) All India Secondary School Examination (Class X). <br>
        &nbsp;&nbsp;&nbsp;&nbsp;(ii) All India Senior School Certificate Examination (Class XII) <br>
        (b) Union Public Service Commission Examination for admission to National Defence Academy.

    </div>
</div>
{% endblock %}