{% extends 'base.html' %}
{% block title %}Admission | RMS BENGALURU{% endblock %}


{% block content %}
<div class="admission-container">
    <div class="admission-nav-boxes">
        <div class="admission-nav-box" id="admission-nav-box1">
            <a href="#section-1-id"><div class="admission-nav-box-heading">Admission</div></a>
        </div>
        <div class="admission-nav-box" id="admission-nav-box2">
            <a href="#section-2-id"><div class="admission-nav-box-heading">Reservation</div></a>
        </div>

        <div class="admission-nav-box" id="admission-nav-box3">
            <a href="#section-3-id"><div class="admission-nav-box-heading">Eligibility</div></a>
        </div>
        <div class="admission-nav-box" id="admission-nav-box4">
            <a href="#cet-section-id"><div class="admission-nav-box-heading">Admission Test</div></a>
        </div>
    </div>
    <div class="section1" id="section-1-id">
        <h1 class="admission-heading">Admissions</h1>
        <p class="admission-para">Common Entrance Test for admission to Class VI and IX is held in December and
            is automated OMR based in subjects mentioned under
            the head “<u>ADMISSION TEST</u>”. For admission to Class VI a candidate should not be less than 10
            years and more than 12 years of age as on
            31 March of the year of admission. For admission to Class IX a candidate should not be less than 13
            years and more than 15 years of age
            as on 31 March of the year of admission. Admission into Classes VI and IX is on the basis of
            available vacancies. Parents/students
            should also note that all admissions are in the category of Boarders only. No day scholars are
            allowed. Admissions are exclusively for
            boys. Important dates for admission in Rashtriya Military Schools are as under:-</p>
        <br>
        <table class="admission-table">
            <tr>
                <td>(a)</td>
                <td>Last date of submission of Application Forms for Class VI & IX will be as per the
                    Notification being published</td>
            </tr>
            <tr>
                <td>(b)</td>
                <td>Date of Written Examination for Class VI & Class IX to be intimated to all successfully
                    registered candidates
                    through registered Email IDs / Mobile No.</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="section2" id="section-2-id">
        <h1 class="reservation-heading">Reservation</h1>
        <p class="reservation-para">
            The schools have reservation of seats in categories mentioned below:- <br>
            (a) 70% of seats are reserved for the wards of serving and retired JCOs/OR those in the Army, Navy
            and Air Force. <br>
            (b) 30% of seats are reserved for the wards of Officers & Civilians. <br>
            (c) 27%, 15% and 7.5% of the seats in each category (excluding Officer Category) are reserved for
            OBC Non-creamylayer, SC and ST
            candidates respectively. <br>
            (d) A total of 50 seats (Not more than 15 in either of the school) are earmarked for wards of
            personal killed in action.
        </p>
    </div>
    <br>
    <div class="section3" id="section-3-id">
        <h1 class="eligible">Conditions Of Eligibility</h1>
        <p><b>Education Qualification : </b>For admission to Class VI, no previous education qualification is
            mandatory. For admission in Class IX, the
            candidate should have passed Class VIII from a government/recognized school before the date of
            admission to a Rashtriya Military School.
            However, students studying in Class V and Class VIII are eligible to appear in the respective
            Entrance Test. They should also preferably know
            sufficient English which is the medium of instruction in Rashtriya Military Schools.</p>
        <p><b>Age : </b>Only boys aged between 10-12 years as on 31 March 2021 (born between 01 April 2009 to 31
            March 2011, both days inclusive) for
            admission in Class VI and boys aged between 13-15 years as on 31 March 2021 (born between 01 April
            2006 to 31 March 2008, both days
            inclusive) for admission in Class IX. Six months relaxation in upper age limit is permissible for
            wards of personnel Killed in Action. The
            Authority for Date of Birth will be a School Leaving Certificate obtained from the previous school
            of the candidate and countersigned by the
            District Education Officer. Certificates issued by Gram Panchayat or any other local body are not
            acceptable. Any variation in the Date of Birth
            or any other particulars in the sheet role and the School Leaving Certificate will render the
            candidature of the child null and void.</p>
        <div class="cet-section" id="cet-section-id">
            <p>
                <b>Admission Test : </b>The CET written
                examination for Class VI & Class IX will be
                fully Automated through Optical Mark
                Reader (OMR) based examination and
                scheme of marking for these papers will
                be as given below :-
            </p>
            <div class="cet-tables">
                <table class="table1">
                    <tr>
                        <th colspan="3">CLASS VI</th>
                    </tr>
                    <tr>
                        <th>Subject</th>
                        <th>Maximum Marks</th>
                        <th>Minimum % <br>to qualify</th>
                    </tr>
                    <tr>
                        <td>(a)English <br>
                            (Candidate is required to qualify in this
                            test. English Marks are not counted
                            towards Merit)</td>
                        <td>50</td>
                        <td>35%</td>
                    </tr>
                    <tr>
                        <td>(b)Intelligence Test</td>
                        <td>50</td>
                        <td>40%</td>
                    </tr>
                    <tr>
                        <td>(c)Mathematics</td>
                        <td>50</td>
                        <td>40%</td>
                    </tr>
                    <tr>
                        <td>(d)GK & Current Affairs</td>
                        <td>50</td>
                        <td>40%</td>
                    </tr>
                    <tr>
                        <td>(e)Interview</td>
                        <td colspan="2">20</td>
                    </tr>
                </table>
                <table class="table2">
                    <tr>
                        <th colspan="4">CLASS IX</th>
                    </tr>
                    <tr>
                        <th colspan="2">Subject</th>
                        <th>Maximum Marks</th>
                        <th>Minimum % <br>to qualify</th>
                    </tr>
                    <tr>
                        <td colspan="2">(a)Paper-1</td>
                        <td rowspan="4">100</td>
                        <td rowspan="4">50%</td>
                    </tr>
                    <tr>
                        <td>English</td>
                        <td>50 Marks</td>
                    </tr>
                    <tr>
                        <td>Hindi</td>
                        <td>50 Marks</td>
                    </tr>
                    <tr>
                        <td>Social Science</td>
                        <td>30 Marks</td>
                    </tr>
                    <tr>
                        <td colspan="2">(b)Paper-2</td>
                        <td rowspan="3">100</td>
                        <td rowspan="3">50%</td>
                    </tr>
                    <tr>
                        <td>Maths</td>
                        <td>50 Marks</td>
                    </tr>
                    <tr>
                        <td>Science</td>
                        <td>50 Marks</td>
                    </tr>
                    <tr>
                        <td colspan="2">(c)Interview</td>
                        <td colspan="2">50</td>
                    </tr>
                </table>
            </div>
            <p><b>Syllabus : </b>Written test will generally be of Class V standard for Class VI admission and Class
                VIII standard for Class IX admission.
                Medium of Question Paper in Entrance exam is English or Hindi for Class VI and only English for Class
                IX.
            </p>
            <p><b>Interview : </b>Those candidates who qualify in the written test and short-listed, will be called for
                the interview at one of the Rashtriya
                Military Schools. Marks of the interview will be added to the score of the written test before deciding
                the final merit. No traveling or
                other allowance is admissible in connection with the journeys undertaken for the Common Entrance Test or
                the interview.</p>
            <p><b>Result : </b>Merit list of successful candidates and the school allotment will be declared by IHQ of
                MoD (Army), DGMT/MT-15. No separate
                intimation will be sent to the unsuccessful candidates. However, the final result will be available on
                www.rashtriyamilitaryschools.edu.in
                and on army Intranet.</p>
            <p><b>Final Selection : </b>Candidates selected in order of merit on the basis of total marks secured by
                them in the admission test and the
                interview will be admitted to different Rashtriya Military Schools based on availability of vacancies,
                medical fitness and as per the
                reservations norms laid down for various categories. Qualified candidates will be allotted school purely
                on the basis of Merit and vacancy
                available in school.</p>
            <p><b>Medical Fitness : </b>All the candidates will be required to undergo medical fitness examination
                before admission to the Rashtriya
                Military Schools as per norms/criteria as specified in AFMSF-2 and only in the hospital he has mentioned
                in the Application Form. The
                medical examination will be carried out at only one of the listed hospitals mentioned under the head
                "LIST OF HOSPITALS FOR CONDUCT
                OF MEDICAL TEST". Candidate found medically unfit by the board of officers at listed hospitals will not
                be admitted. The candidate will
                also be required to remain medically fit during the course of his stay at Rashtriya Military School. The
                admission of the candidate will be
                provisional till Fitness certificate is received from the Hospital. <b>NO CHANGE IN MEDICAL EXAM CENTRE
                    WILL BE ALLOWED.</b></p>
        </div>
    </div>
</div>

{% endblock %}