{% extends 'base.html' %}
{% block title %}Facilities | RMS BENGALURU{% endblock %}

{% block content %}

<div class="facilities-box">
    <div class="facility-section">
        <h1 class="facility-heading">
            ACADEMIC FACILITIES
        </h1>
        <div class="facilities-images-container">
            <div class="facilities-images">
                <img src="{{static}}/images/class2.JPG" alt="" class="img1">
                <img src="{{static}}/images/class1.JPG" alt="" class="img2">
                <img src="{{static}}/images/computer-lab.JPG" alt="" class="img3">
            </div>
            <p class="facility-para">With the tremendous developments in the field of education and educational
                infrastructure, the Rashtriya Military Schools too have
                developed their infrastructural facilities to match the best available. State-of-art equipment
                and
                buildings are slowly augmenting the existing
                facilities. The Schools offer the best facilities of residential public schools with all the
                amenities made available to the Cadets.
            </p>
        </div>
    </div>
    <div class="facility-section">
        <h1 class="facility-heading">SPORTS AND GAMES FACILITIES</h1>
        <div class="facilities-images-container">
            <div class="facilities-images">
                <img src="{{static}}/images/sports1.JPG" alt="" class="img1">
                <img src="{{static}}/images/sports2.JPG" alt="" class="img2">
                <img src="{{static}}/images/sports3.JPG" alt="" class="img3">
            </div>
            <p class="facility-para">The academic growth of the Cadets at Rashtriya Military Schools is
                substantially augmented with a wide range of sports and games
                embedded within the curriculum. The Schools have facility for pursuance of almost all sports and
                games. The Cadets are encouraged to
                actively participate in games and sports and specialized coaching is imparted by trained Army
                personnel. The academic calendar of the school
                schedules a number of sporting events and competitions, to create in the cadets the required
                competitive edge. The Schools provide facilities
                for daily games in Football, Hockey, Cricket, Basketball, Volleyball, Table Tennis, Boxing and
                Athletics. Daily morning P.T. is compulsory for the
                Cadets.</p>
        </div>
    </div>
    <div class="facility-section">
        <h1 class="facility-heading">HOUSE SYSTEM</h1>
        <div class="facilities-images-container">
            <div class="facilities-images">
                <img src="{{static}}/images/house1.JPG" alt="" class="img1">
                <img src="{{static}}/images/house2.jpg" alt="" class="img2">
                <img src="{{static}}/images/house3.jpg" alt="" class="img3">
            </div>
            <p class="facility-para">Cadets reside in Houses. The Houses are the intrinsic units of the schools but
                each house has its own motto and colour which gives each one of
                them a separate identity and house spirit. The Cadets are distributed equally in all houses. Each
                house has a Hostel Superintendent and a
                warder to look after the personal comforts & welfare of the Cadets. Each house is provided with a
                Dish TV set for recreation of cadets.
            </p>
        </div>
    </div>

    <div class="facility-section">
        <h1 class="facility-heading">MESSING</h1>
        <div class="facilities-images-container">
            <div class="facilities-images">
                <img src="{{static}}/images/mess1.jpg" alt="" class="img1">
                <img src="{{static}}/images/mess2.JPG" alt="" class="img2">
                <img src="{{static}}/images/mess3.JPG" alt="" class="img3">
            </div>
            <p class="facility-para">The Schools provide to the cadets well-balanced, and nourishing diet. The
                cadets are served three meals a day in addition to milk in the
                morning and tea & snacks in the forenoon and afternoon. The daily menu invariably includes fresh
                fruit, milk, butter, jam, eggs, cereals,
                vegetables and meat/fish/chicken. Separate arrangement exists for vegetarians and non-vegetarians.
            </p>
        </div>
    </div>

    <div class="facility-section">
        <h1 class="facility-heading">CO-CURRICULAR ACTIVITIES</h1>
        <div class="facilities-images-container">
            <div class="facilities-images">
                <img src="{{static}}/images/cca1.JPG" alt="" class="img1">
                <img src="{{static}}/images/cca2.JPG" alt="" class="img2">
                <img src="{{static}}/images/cca3.JPG" alt="" class="img3">
            </div>
            <p class="facility-para">Varied activities like Photography, Dramatics, Art & Craft, Wood Work,
                Music,Debating and Declamation are organised with the aim of
                helping cadets to make an intelligent use of their leisure time.
                Co-curricular activities play an important part in the training imparted to the cadets. The schools
                provide an ample scope for the
                development of the students creative skills in fine arts and crafts.
                NCC Training is compulsory for all the cadets. The Schools have Army, Air and Naval Wings of Senior
                / Junior Division NCC as available and
                feasible. In addition Scouting and Trekking are regular features of extracurricular activities.
            </p>
        </div>
    </div>



    <div class="facility-section facility-section-2">
        <h1 class="facility-heading">MEDICAL AND HEALTH CARE</h1>
        <p class="facility-para">The Schools have an Ml Room with the presence of Medical Officer / Nursing
            Assistants. Special care is taken of the health of the cadets.
            Detailed medical history charts are maintained for individual cadets and a careful and accurate
            periodical record of height, weight and chest
            measurements is kept. Cadets who need special treatment are sent to other hospitals having requisite
            facilities. Where payment is required
            to be made, it is communicated to cadets parents.</p>
    </div>

    <div class="facility-section facility-section-2">
        <h1 class="facility-heading">DISCIPLINE</h1>
        <p class="facility-para">Cadets are required to follow School discipline meticulously. Younger cadets
            are guided and helped by the senior cadets to learn to live in a
            disciplined way. If a cadet is declared undesirable he will be sent home immediately at parents'
            cost and risk. In such cases, the decision of the
            Principal shall be final and binding. Ragging is strictly prohibited in the school as per the
            guidelines of the Hon’ble Supreme Court of India.
            Cadets may be withdrawn from the school by the school authority on grounds of extreme indicipline
            cases.</p>
    </div>
    <div class="facility-section facility-section-2">
        <h1 class="facility-heading">TEXT BOOKS & STATIONERY</h1>
        <p class="facility-para">Text Books will not be provided by the School free of cost. These are required
            to be purchased by the cadets. Stationery items will also be
            required to be purchased and may be procured from the authorized school shop to maintain uniformity.
        </p>

    </div>
    <div class="facility-section facility-section-2">
        <h1 class="facility-heading">LEAVE</h1>
        <p class="facility-para">Normally, leave will not be granted to a cadet in the middle of the term. The
            Principal will exercise his discretion regarding grant of leave on
            very special grounds such as serious illness of parents or the marriage of real brothers or sisters.
            Leave applications must be signed by the
            parents. Parents should also mention that journey of the boy will be performed at parents risk and
            expense.</p>
    </div>
    <div class="facility-section facility-section-2">
        <h1 class="facility-heading">SCHOOL ROUTINE</h1>
        <p class="facility-para">The Daily routine of the Rashtriya Military Schools have come to establish
            themselves as important traditions of the schools. While the day is
            planned so as to get the Cadets to live an active campus-life due heed is also paid to have ample
            scope for rest, leisure and individual time. The
            routine followed in Rashtriya Military Schools is as given :-</p>
    </div>
    <div class="facility-section facility-section-2">
        <h1 class="facility-heading">INTER SCHOOL TRANSFER</h1>
        <p class="facility-para">Applications for inter school transfer of cadets will be entertained by the
            Principal upto 15 Feb each year and the transfers will be entertained
            only in the beginning of the following academic session. Inter school transfer will not be permitted
            as a matter of course but only under
            exceptional circumstances or for any other extraordinary reason considered valid by the Army HQ
            (MT-15). Transfer of Cadets will be
            considered based on the following conditions:-</p>
    </div>
</div>

{% endblock %}