{% extends 'base.html' %}
{% block title %}Fees Structure | RMS BENGALURU{% endblock %}

{% block content %}
<div class="fees-box">
    <div class="heading1">
        <h1 class="fee-caution-money">School Fees And Caution Money</h1>
        <p class="fees-para">
            Tuition fee and caution money with respect to different categories
            is given below. SC and ST candidates are required to pay one fourth
            of the amount mentioned below :-
        </p>
        <br><br>
        <div class="fees-table">
            <table class="table-box">
                <tr>
                    <th>SNo</th>
                    <th>Category</th>
                    <th>Tuition Fees<br />(per year)</th>
                    <th>Caution Money <br />(Onetime)</th>
                </tr>
                <tr>
                    <td>(a)</td>
                    <td>OR & their equivalents in the Navy and
                        IAF (including Ex-Servicemen)</td>
                    <td>Rs. 12000/-</td>
                    <td>Rs. 1200/-</td>
                </tr>
                <tr>
                    <td>(b)</td>
                    <td>JCO & their equivalents in the Navy and
                        IAF (including Ex-Servicemen)</td>
                    <td>Rs. 1800/-</td>
                    <td>Rs. 1800/-</td>
                </tr>
                <tr>
                    <td>(c)</td>
                    <td>Service Offrs all three Forces (including
                        Ex-Servicemen)</td>
                    <td>Rs. 25000/-</td>
                    <td>Rs. 3800/-</td>
                </tr>
                <tr>
                    <td>(d)</td>
                    <td>Civilians</td>
                    <td>Rs. 51000/-</td>
                    <td>Rs. 6000/-</td>
                </tr>
                <tr>
                    <td>(e)</td>
                    <td>For SC/ST</td>
                    <td>(25% of the Fee paid by the respective category)</td>
                    <td></td>
                </tr>
            </table>
            <div class="fees-description">
                <p class="desc-note">
                    <b style="color: aliceblue;">Note:-</b>Caution money will be deposited at the time of
                    admission and refunded without interest to the cadet on discharge
                    from the school. The School fees are payable for a year and will
                    be paid directly to the school at the time of admission. No fees
                    will be charged from sons of officers and JCOs/OR and their
                    equivalent ranks in the Navy and Air Force who have been killed in
                    action.
                </p>
                <br>
                <div class="special-note">
                    <h2 class="special-note-heading">
                        FEES IN RESPECT OF WARDS OF SERVICE OFFICERS/JCOs/NCOs KILLED IN
                        ACTION
                    </h2>
                    <p class="special-note-para">
                        The wards of service officers/JCOs/NCOs killed in action are
                        entitled complete exemption from tuition fees and other fees.
                        (Capitation fee & Caution money not included).
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="heading2">
        <h1 class="awards-of-scholarships">Awards Of Scholarships</h1>
        <p class="awards-para">
            15% of the non-entitled cadets (i.e. sons of service officers and
            civilians) in the school are awarded means-cum-merit scholarships on
            the basis of a common scholarship test conducted by the Army
            Headquarters. The scholarships are awarded as per following rules:
        </p>
        <div class="awards-para-list">
            <p>
                (a). Full remission of the school fees in the case of those cadets
                whose parents income is less than Rs. 3,00,000/- in a financial
                year.
            </p>
            <p>
                (b). Fees at half rates are charged from cadet whose parents income
                exceeds Rs. 3,00,000/- but is not more than Rs. 4,50,000 - in the
                financial year.
            </p>
        </div>
    </div>
    <div class="heading3">
        <h1 class="pocket-money">Pocket Money</h1>
        <p class="pocket-money-para">
            A minimum of Rs. 10,000/- will be deposited by all categories in the
            Pocket Money Account of the ward to cater to the traveling expenses
            and monthly pocket money. It is mandatory to maintain balance of Rs.
            4,000/- at any one time under this head.
        </p>
    </div>
</div>
{% endblock %}