{% extends 'base.html' %}
{% block title %}RMS BENGALURU{% endblock %}


{% block content %}
<div class="box1">
    <div class="box1-left">
        <div class="carousel">
            <img id="slider" src="{{static}}/images/admin-block.jpg" alt="carousel" />
        </div>
    </div>
    <div class="box1-right">
        <p class="line-1">
            Where lessons for valour and leadership never end
        </p>
        <br />
        <div class="line-2">
            The schools are category ‘A’ establishment of the Army and are
            administrated by the Directorate General of Military Training at IHQ
            of MOD(Army). The Central Governing Council(CGC), headed by the
            Defence Secretary, Ministry of Defence is the apex body for these
            schools.
        </div>
        <br /><br />
        <button type="button" class="box1-about-btn">
            <a href="/about_us">About Us</a>
        </button>
    </div>
</div>
<!-- box1 ends  -->
<div class="box2">
    <div class="principal-message-section">
        <h2 class="principal-message-heading">Principal's Message</h2>
        <div class="principal-message-box">
            <div class="principal-pic">
                <img src="{{static}}/images/principal.png" alt="Principal's Pic" />
                <br />
                <p class="principal-name">Lt Col Dipankar Choudhury</p>
                <span style="display: block; text-align: center; font-size: 18px">(Principal)</span>
            </div>
            <p class="principal-message">
                I am indeed delighted to associate myself with this memorable
                occasion of launch of the Platinum Jubilee celebrations of the
                School. It has been a spectacular journey for RMS, Bengaluru and
                that I got an opportunity to express the collective appreciation
                of various institutions and communities concerned to this premier
                institution.
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I convey my warm
                felicitations to each one of them as the School has started on its
                75 anniversary celebrations. We will continue our efforts in
                educating our cadets. I remain grateful to all its alumni and the
                parents for their continued support to the institution and its
                endeavours and for having taken extra care to ensure that our
                children make the best use of their time.
            </p>
        </div>
    </div>
    <div class="notificatons">
        <h2 class="notification-heading">Notifications</h2>
        <div class="notification-box">
            
            <div class="notification">
                <div class="notification-date" style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                ">
                    <span style="font-size: 1.7rem; color: rgb(26, 27, 43)">13</span>
                    <span style="color: rgb(26, 27, 43)">Jun</span>
                </div>
                <div class="notification-content">
                    <p class="notification-title">
                        <a href="">Day 1 of Platinum Jubilee Celebrations</a>
                    </p>
                    <p class="notification-description">
                        President's Visit and inauguration of Platinum Jubilee Celebrations
                    </p>
                </div>
            </div>
            <div class="notification">
                <div class="notification-date" style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                ">
                    <span style="font-size: 1.7rem; color: rgb(26, 27, 43)">14</span>
                    <span style="color: rgb(26, 27, 43)">Jun</span>
                </div>
                <div class="notification-content">
                    <p class="notification-title">
                        <a href="">Day 2 of Platinum Jubilee Celebrations</a>
                    </p>
                    <p class="notification-description">
                        Cultural Show followed by science and art exhibitions
                    </p>
                </div>
            </div>
            <div class="notification">
                <div class="notification-date" style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                ">
                    <span style="font-size: 1.7rem; color: rgb(26, 27, 43)">15</span>
                    <span style="color: rgb(26, 27, 43)">Jun</span>
                </div>
                <div class="notification-content">
                    <p class="notification-title">
                        <a href="">Day 3 of Platinum Jubilee Celebrations </a>
                    </p>
                    <p class="notification-description">
                        Cricket Match, Tug of War folllowed by OBA Dinner
                    </p>
                </div>
            </div>
            <div class="notification">
                <div class="notification-date" style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                ">
                    <span style="font-size: 1.7rem; color: rgb(26, 27, 43)">16</span>
                    <span style="color: rgb(26, 27, 43)">Jun</span>
                </div>
                <div class="notification-content">
                    <p class="notification-title">
                        <a href="">Summer vacation</a>
                    </p>
                    <p class="notification-description">
                        The commencement of summer vacation for cadets and staff members.
                    </p>
                </div>
            </div>
            <div class="notification">
                <div class="notification-date" style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                ">
                    <span style="font-size: 1.7rem; color: rgb(26, 27, 43)">8</span>
                    <span style="color: rgb(26, 27, 43)">July</span>
                </div>
                <div class="notification-content">
                    <p class="notification-title">
                        <a href="">Reopening of the School</a>
                    </p>
                    <p class="notification-description">
                        The school will reopen on and all the cadets and staff members to report by July 8.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- box 2 ends  -->
<div class="box3">
    <h1 class="news-title">News & Events</h1>
    <div class="news-section-home">
        
        <div class="card" id="card1">
            <div class="news-card-image">
                <img src="{{static}}/images/platinum.png" alt="" />
            </div>
            <div class="card-content">
                <div class="post-date">posted on Jun 11, 2022</div>
                <div class="card-heading">Platinum Jubilee Celebrations</div>
                <div class="card-sub-heading">
                    On the completion of 75 years, the school is celebrating Platinum Jubilee from 13th June to 15th June.
                </div>
                <div class="card-read-more"><a href="">Read More</a></div>
            </div>
        </div>
        <div class="card" id="card2">
            <div class="news-card-image">
                <img src="{{static}}/images/cultural.JPG" alt="" />
            </div>
            <div class="card-content">
                <div class="post-date">posted on Jun 11, 2022</div>
                <div class="card-heading">Cultural Show</div>
                <div class="card-sub-heading">
                    The cultural show is going to be the beginning of the Day 2 celebrations of Platinum Jubilee.
                </div>
                <div class="card-read-more"><a href="">Read More</a></div>
            </div>
        </div>
        <div class="card" id="card3">
            <div class="news-card-image">
                <img src="{{static}}/images/oba.jpeg" alt="" />
            </div>
            <div class="card-content">
                <div class="post-date">posted on Jun 11, 2022</div>
                <div class="card-heading">OBA Day</div>
                <div class="card-sub-heading">
                    The spirit of a georgian always remains high. We have cricket between old boys of the school and the passing out batch on Day 3.
                </div>
                <div class="card-read-more"><a href="">Read More</a></div>
            </div>
        </div>
    </div>
    <button type="button" class="more-news-btn">More News</button>
</div>
<!-- box 3 ends  -->
<!-- box 4 starts here  -->
<div class="box4">
    <h1 class="gallery-heading">
        Gallery
    </h1>
    <div class="homepage-gallery">
        <div class="gallery-image" id="gallery-image1">
            <div class="image-spinner-parent">
                <div class="image-spinner"></div>
            </div>
            <img src="{{static}}/images/jet.jpg" alt="" class="galleryImage" onload="loadImage()" />
        </div>
        <div class="gallery-image" id="gallery-image2">
            <div class="image-spinner-parent">
                <div class="image-spinner"></div>
            </div>
            <img src="{{static}}/images/dinner-night.jpg" alt="" onload="loadImage()" />
        </div>
        <div class="gallery-image" id="gallery-image3">
            <div class="image-spinner-parent">
                <div class="image-spinner"></div>
            </div>
            <img src="{{static}}/images/pool.jpg" alt="" onload="loadImage()" />
        </div>
        <div class="gallery-image" id="gallery-image4">
            <div class="image-spinner-parent">
                <div class="image-spinner"></div>
            </div>
            <img src="{{static}}/images/cadets.jpg" alt="" onload="loadImage()" />
        </div>
        <div class="gallery-image" id="gallery-image5">
            <div class="image-spinner-parent">
                <div class="image-spinner"></div>
            </div>
            <img src="{{static}}/images/five.jpg" alt="" onload="loadImage()" />
        </div>
        <div class="gallery-image" id="gallery-image6">
            <div class="image-spinner-parent">
                <div class="image-spinner"></div>
            </div>
            <img src="{{static}}/images/cariappa.jpg" alt="" onload="loadImage()" />
        </div>
    </div>
    <button type="button" class="see-more-btn">
        <a href="">See More</a>
    </button>
</div>
<!-- box4 ends  -->

<!-- box 5 starts here  -->
<div class="box5">
    <h1 class="contact-heading">
        Get In Touch
    </h1>
    <div class="contact-box">
        <div class="write-us-box">
            <h2 class="write-us-heading">
                Write Us
            </h2>
            <form action="" method="post">
                <input type="text" name="full-name" id="full-name" placeholder="Full Name" />
                <input type="email" name="email" id="email" placeholder="Email" />
                <input type="text" name="phone" id="phone" placeholder="Phone: +91 XXXXX XXXXX" />
                <textarea name="message" id="message" cols="30" rows="10"
                    placeholder="Write your message here"></textarea>
                <button type="submit" id="send-message-btn">
                    Send
                </button>
            </form>
        </div>
        <div class="contact-details">
            <h2 class="contact-us-heading">
                Contact Us
            </h2>
            <div class="contact-us-details">
                <div class="contact-address">
                    <span class="contact-header"><i class="fa-solid fa-location-dot"></i> Address: </span><span
                        class="contact-content">No. 250/40, Museum Road, near Johnsan Market, Bengaluru,
                        Karnataka 560025</span>
                </div>
                <div class="contact-phone">
                    <span class="contact-header"><i class="fa-solid fa-phone"></i> Phone: </span><span
                        class="contact-content">+91 080-29602555 , +91 080- 25554972</span>
                </div>
                <div class="contact-email">
                    <span class="contact-header"><i class="fa-solid fa-at"></i> Email: </span><span
                        class="contact-content">rmsbengaluru@gmail.com</span>
                </div>
                <div class="contact-website">
                    <span class="contact-header"><i class="fa-solid fa-globe"></i> Website: </span><span
                        class="contact-content">www.rashtriyamilitaryschools.edu.in</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}