{% extends 'base.html' %}
{% block title %}Notifications | RMS BENGALURU{% endblock %}

{% block content %}

<div class="notificatons">
    <h2 class="notification-heading">Notifications</h2>
    <div class="notification-box">
        
        <div class="notification">
            <div class="notification-date" style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            ">
                <span style="font-size: 1.7rem; color: rgb(26, 27, 43)">13</span>
                <span style="color: rgb(26, 27, 43)">Jun</span>
            </div>
            <div class="notification-content">
                <p class="notification-title">
                    <a href="">Day 1 of Platinum Jubilee Celebrations</a>
                </p>
                <p class="notification-description">
                    President's Visit and inauguration of Platinum Jubilee Celebrations
                </p>
            </div>
        </div>
        <div class="notification">
            <div class="notification-date" style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            ">
                <span style="font-size: 1.7rem; color: rgb(26, 27, 43)">14</span>
                <span style="color: rgb(26, 27, 43)">Jun</span>
            </div>
            <div class="notification-content">
                <p class="notification-title">
                    <a href="">Day 2 of Platinum Jubilee Celebrations</a>
                </p>
                <p class="notification-description">
                    Cultural Show followed by science and art exhibitions
                </p>
            </div>
        </div>
        <div class="notification">
            <div class="notification-date" style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            ">
                <span style="font-size: 1.7rem; color: rgb(26, 27, 43)">15</span>
                <span style="color: rgb(26, 27, 43)">Jun</span>
            </div>
            <div class="notification-content">
                <p class="notification-title">
                    <a href="">Day 3 of Platinum Jubilee Celebrations </a>
                </p>
                <p class="notification-description">
                    Cricket Match, Tug of War folllowed by OBA Dinner
                </p>
            </div>
        </div>
        <div class="notification">
            <div class="notification-date" style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            ">
                <span style="font-size: 1.7rem; color: rgb(26, 27, 43)">16</span>
                <span style="color: rgb(26, 27, 43)">Jun</span>
            </div>
            <div class="notification-content">
                <p class="notification-title">
                    <a href="">Summer vacation</a>
                </p>
                <p class="notification-description">
                    The commencement of summer vacation for cadets and staff members.
                </p>
            </div>
        </div>
        <div class="notification">
            <div class="notification-date" style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            ">
                <span style="font-size: 1.7rem; color: rgb(26, 27, 43)">8</span>
                <span style="color: rgb(26, 27, 43)">July</span>
            </div>
            <div class="notification-content">
                <p class="notification-title">
                    <a href="">Reopening of the School</a>
                </p>
                <p class="notification-description">
                    The school will reopen on and all the cadets and staff members to report by July 8.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}